.idea/
tmp/
node_modules/

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
# React on Rails
npm-debug.log*

# Generated js bundles
/app/assets/webpack/*
