.queryBuilder {
  clear: both
}

.queryBuilder > div {
  width: 70%;
  float: left;
}

.queryBuilder > .btn {
  width: 9%;
  margin-left: 1%;
  font-size: 1.99rem;
  border-radius: 5px;
}

.queriesName {
  font-size: 2rem;
  padding-left: 2rem;
}

#toCopy {
  opacity: 0;
  height: 0;
  padding: 0;
  border: none;
}

.nameBody {
  padding: 2rem;
}

.nameBody > input {
  font-size: 2rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
}