.predicateButton {
  width: 100%;
  background-color: #42A5F5;
}

.predicateButton:hover {
  background-color: #64B5F6;
}

.predicateBlock {
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}